:root {
  --dark: #103456;
  --yellow: #ffe099;
}

* {
  font-family: 'EB Garamond', serif;
}

header {
  text-align: center;
  color: var(--dark);
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 2.5em;
}

#header_info {
  font-size: 1.2em;
}

hr {
  border: 1.5px solid var(--dark);
}

/* Section holding all employee cards */
#employee_area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 26px;
}

/* Each employee card */
.employee_card {
  color: var(--dark);
  border: solid var(--dark);
  width: 300px;
  height: 240px;
  margin: 20px;
  box-shadow: 10px 12px 0px 0px var(--dark);
}

.employee_card:hover {
  box-shadow: 10px 12px 0px 0px var(--yellow);
}

/* Within the employee card*/
.name {
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 0px;
}

p {
  font-weight: 400;
  /* font-style: italic; */
  padding: 0px 35px 0px 35px;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--yellow);
}

.job {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

@media screen and (min-width: 600px){
#employee_area {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
}