header {
  text-align: center;
}

#employee_area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 26px;
}

.employee_card {
  border: solid;
  width: fit-content;
  height: fit-content;
  margin: 20px;
}

h2 {
  text-align: center;
}

p {
  padding: 0px 20px 0px 20px;
}

@media screen and (min-width: 600px){
#employee_area {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
}